<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.finnishprogrammerkeyboard</string>
	<key>CFBundleName</key>
	<string>Finnish Programmer keyboard</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_Finnish-prog</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.finnishprogrammerkeyboard.finnish-prog</string>
		<key>TISIntendedLanguage</key>
		<string>fi</string>
	</dict>
</dict>
</plist>
